@model MovieManager.ViewModels.RegisterUserViewModel

@section Styles {
    <link href="@Url.Content("~/css/registerPage.css")" rel="stylesheet" type="text/css" />
}

<div class="container">
    <div class="row">
        <form asp-controller="User" asp-action="Register" method="post" class="col-xs-12 col-sm-12 col-md-12">
            <h2>Please fill out all fields</h2>
            <div class="form-group">
                <input class="form-control" placeholder="Enter Username *" asp-for="UserName" required>
                <span class="error">@ViewBag.userExistsError</span>
                <span asp-validation-for="UserName"></span>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Enter Password *" asp-for="Password" required>
                <span asp-validation-for="Password"></span>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="verifyPassword" placeholder="Verify Password *" name="verifyPassword" required>
            </div>
            <div class="checkbox">
                <span>Have an account? <a href="/User/login">Log in!</a></span>
            </div>
            <button type="submit" class="btn btn-success">Register <i class="glyphicon glyphicon-send"></i></button>
        </form>
    </div>
</div>
