<br/>

<form asp-controller="User" asp-action="Settings" method="post">
    <div class="form-group">
        <label for="phoneNumber">Enter your phone number to be notified when a show is availabe</label>
        <input style="width: 25%;" id="phoneNumber" type="text" class="form-control" name="phoneNumber" />
        <input type="submit" value="Save"/>
    </div>
</form>
